// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// SweetAlert2
@import 'node_modules/sweetalert2/dist/sweetalert2';

body{
    font-family: Roboto;
    background-image: radial-gradient(hsl(0,0%,20%),hsl(0,0%,70%));
}

.navbar-la24gnc {
    background-color: $app-primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    color: $white !important;
}

a{
    color: hsl(0,50%,0%);
    text-decoration: none; 
}

a:hover{
    color: hsl(0,10%,10%);
    text-decoration: none;
}

li:hover{
    background-color: hsl(0,50%,100%);
}

.navbar-la24gnc{
    li:hover{
        background-color: $red;
    }
}

.icon-brand{
    display: inline;
}

.sidebar-expanded{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: $grey;
    transition: width 1s;
}

.sidebar-minimized{
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: $grey;
    transition: width 1s;
}

.content{
    height: 100vh;
    margin-left: 250px;
    transition: margin-left 1s;
}

@media (max-width: 770px){
    .content{
        margin-left: 60px;
    }
}

.material-icons.md-light { color: rgba(255, 255, 255, 1)!important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3)!important; }

.sidebar-item{
    padding: 10px;
    font-size: 0.9em;
    font-family: Roboto;
    border: 1pt solid #fefefe;
    text-align: justify;
}

.icon{
    position: relative;
    top: 5px;
    left: 5px;
    margin-right: 5px;
}

#sidebar-header{
    padding: 8px;
}

.form{
    width: 60%;
    padding: 15px;
    position: relative;
    left: 20%;
    top: 20px;
    background-image: linear-gradient(to top, hsl(0,0%,80%),hsl(0,0%,30%));
    border-radius: 20px;
    color: $white;
}

.form-card{
    background-color: $grey;
    padding: 20px;
}

.main-div{
    padding: 40px;
}

.test{
    background-color: $white;
    color: #000000;
}

.btn-primary{
    background-color: $app-primary;
}

.btn-primary:hover{
    background-color: $red;
}

a.link-form{
    color: $app-primary;
}

a.link-form:hover{
    color: $red;
}